[Desktop Entry]
Type=Application
Name=Mega Man X Online: Deathmatch
Comment=Fast-paced multiplayer 2D arena shooter based on the Mega Man X series
Comment[es]=Juego de disparos arena 2D multijugador rápido basado en la saga Mega Man X
Comment[pt]=Jogo de tiro em arena 2D multijogador acelerado baseado na série Mega Man X
Comment[fr]=Jeu de tir en arène 2D multijoueur rapide basé sur la série Mega Man X
Exec=mmxod-wrapper
Icon=org.mmxod.MMXOD
Categories=Game;ActionGame;
Terminal=false
StartupWMClass=MMX
